@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

body {
    font-family: 'Nunito', sans-serif;
}

button,
select {
    font: inherit;
    padding: 0.25em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#root {
    /* React root div */
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.main,
.header,
.footer {
    padding: 0.25em;
    margin: 0 1em;
}

.main {
    display: flex;
    gap: 1rem;
}

.main--products {
  flex-flow: row wrap;
  justify-content: space-between;
}

.main--cart {
  flex-flow: column nowrap;
}

.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #000;
}

.header__title-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.header__price-box {
    text-align: right;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.footer {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.product-h2{
    width: 100%;
}

.product {
    width: 90%;
    margin-bottom: 1em;
    box-shadow: -1px 2px 13px 1px grey;
    padding-bottom: 10px;
    border-radius: 20px;
}

.product__img {
    max-width: 350px;
}

.cart {
    padding: 0;
    margin-top: 0.5em;
}

.cart__list{
    list-style: none;
}

.cart__item {
    display: grid;
    grid-template-columns: 4fr 3fr 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 0.5em;
}

.cart__img {
    display: none;
    min-width: 68px;
}

.cart-empty{
    margin-top: 10%;
}

.cart__select {
    max-height: 48px;
}

.cart__item-subtotal {
    display: none;
    text-align: center;
}

.cart__button {
    max-height: 48px;
    justify-self: flex-end;
}

.cart__totals {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.cart-item-deleted{
    border: 2px solid red;
    background-color: rgb(236, 192, 192);
    color: red;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.prompt-overlay{
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 90vh;
    background: rgba(255,255,255,0.4);
}

.prompt-delete{
    border: 2px solid red;
    background-color: rgb(236, 192, 192);
    color: red;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.prompt-checkout{
    border: 2px solid rgb(10, 107, 1);
    background-color: rgb(162, 203, 168);
    color: green;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.cart_delete_btn{
    background-color: red;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 12px;
}

.check_out_btn{
    margin: 0.6rem;
    background-color: green;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
}

.check_out_btn:hover{
    opacity: 0.9;
}

@media screen and (min-width: 601px) {
    .main--products {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .product {
        width: 30%;
    }

    .cart__item {
        grid-template-columns: 3fr 15fr 5fr 1fr 8fr 1fr;
    }

    .cart__img, .cart__item-subtotal {
        display: block;
        height: 100%;
    }

    .cart__submit {
        max-width: 300px;
    }
}